<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Employee</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .warning-message {
            display: flex;
            align-items: center;
            color: red;
            margin-top: 5px;
        }

        .eye-icon {
            margin-right: 5px;
        }

        #empAge {
            width: 80px;
        }

        .input-container {
            display: flex;
            align-items: center;
        }

        .input-container label {
            margin-right: 10px;
        }
    </style>

</head>
<body>
<h1>Create new Employee</h1>

<form th:method="post" th:action="@{/employee/create/new}" th:object="${employee}">
    <label for="empName">empName</label>
    <input id="empName" type="text" placeholder="Enter name" th:field="*{empName}" required><br><br>

    <label for="empActive">empActive</label>
    <input id="empActive" type="checkbox" th:field="*{empActive}" th:value="Yes"><br><br>

    <label>empDepartment</label>
    <select th:field="*{depId}">
        <option th:each="department:${departments}" th:value="${department.dpID}" th:text="${department.dpName}"/>
    </select> <br><br>

    <label for="date">Date</label>
    <input id="date" type="text" placeholder="year-month-day" th:field="*{date}" required><br>

    <div class="input-container">
        <label for="empAge">Age</label>
        <input id="empAge" type="text" placeholder="Enter age" th:field="*{age}" required>
        <!-- Add the warning message to the side of the Age field -->
        <div th:if="${warningMessage}" class="warning-message">
            <i class="fas fa-exclamation-circle eye-icon"></i>
            <p th:text="${warningMessage}"></p>
        </div>
    </div>

    <label for="city">City</label>
    <input id="city" type="text" placeholder="Enter the city where you live" th:field="*{city}" required><br><br>

    <button><a th:href="@{/employee/all}">Cancel</a></button>
    <input type="submit" value="Create">
</form>
</body>
</html>