<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<form th:action="@{/authorise}" method="post" th:object="${authoriseAccountDto}">

    <label for="accountType">Account Type:</label>
    <select id="accountType" name="accountType" th:field="*{accountType}">
        <option value="USER">User</option>
        <option value="OTHER">Other</option>
    </select>

    <br>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>

    <br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="username" th:field="*{email}" required>

    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>

    <br>

    <button type="submit">Login</button>
</form>

</body>
</html>