<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Employee</title>
</head>
<body>
<h1>View Employee</h1>
<div th:each="employee : ${employee}" th:data-dp-id="${employee.empID}">
    <div class="column">
        <b>empName:</b> <span th:text="${employee.empName}"></span>
    </div>
    <div class="column">
        <b>empActive:</b> <span th:text="${employee.empActive}"></span>
    </div>
    <div class="column">
        <b>empDepartment:</b> <span th:text="${employee.departmentName}"></span>
    </div>
    <div class="column">
        <b>Date:</b> <span th:text="${employee.date}"></span>
    </div>
    <div class="column">
        <b>Age:</b> <span th:text="${employee.age}"></span>
    </div>
    <div class="column">
        <b>City:</b> <span th:text="${employee.city}"></span>
    </div>
</div>
<br>
Information...<br><br>
<a th:href="@{/employee/all}">
    <button><-Back</button>
</a>
</body>
</html>